.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.name_details {
  display: flex; 
}

.name_details b {
  flex: 1;
}

.name_details .priority {
  flex: 1;
}